<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/list-1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">list all tasks</h5>
                        <p class="card-text">In this component you can see the list of available tasks.</p>
                        <button (click)="List()" type="button" class="btn btn-danger">List Task</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/img/add.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Add tasks</h5>
                        <p class="card-text">In this component you can create tasks available for the different roles</p>
                        <button (click)="Add()" type="button" class="btn btn-danger">Add Task</button>
                    </div>
                </div>
            </div>